---
# Fedora Workstation 43 Ansible Playbook
- name: Setup Fedora Workstation 43
  hosts: localhost
  become: true
  vars_files:
    - vars/main.yml

  pre_tasks:
    - name: Check if running on Fedora 43
      fail:
        msg: "This playbook only runs on Fedora 43. Current distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}"
      when: ansible_distribution != 'Fedora' or ansible_distribution_version != '43'
      tags:
        - always

  tasks:
    - import_tasks: tasks/update.yml
    - import_tasks: tasks/packages.yml
    - import_tasks: tasks/rpmfusion.yml
    - import_tasks: tasks/flatpak.yml
    - import_tasks: tasks/security.yml
    - import_tasks: tasks/gnome.yml
    - import_tasks: tasks/eza.yml
    - import_tasks: tasks/dotfiles.yml
    - import_tasks: tasks/zsh.yml