---
# Fedora Workstation 42 Ansible Playbook
- name: Setup Fedora Workstation 42
  hosts: localhost
  become: true
  vars_files:
    - vars/main.yml

  pre_tasks:
    - name: Check if running on Fedora 42
      fail:
        msg: "This playbook only runs on Fedora 42. Current distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}"
      when: ansible_distribution != 'Fedora' or ansible_distribution_version != '42'
      tags:
        - always

  tasks:
    - import_tasks: tasks/update.yml
    - import_tasks: tasks/packages.yml
    - import_tasks: tasks/rpmfusion.yml
    - import_tasks: tasks/flatpak.yml
    - import_tasks: tasks/security.yml
    - import_tasks: tasks/gnome.yml
    #  - import_tasks: tasks/dotfiles.yml
