---
# Fedora 42 Workstation Ansible Playbook
# playbook.yml
- name: Setup Fedora 42 Workstation
  hosts: localhost
  become: true
  vars:
    username: "{{ ansible_user_id }}"
    system_packages:
      - "@virtualization"
      - ansible
      - borgbackup
      - dnf-utils
      - glances
      - fzf
      - fdupes
      - vnstat
      - vim
      - vifm
      - visidata
      - jq
      - pv
      - procs
      - rclone
      - restic
      - rsync
      - ripgrep
      - htop
      - nethogs
      - nmap
      - ncdu
      - nnn
      - nvtop
      - neovim
      - tmux
      - tmux-powerline
      - testssl
      - powerline
      - ps_mem
      - zoxide
      - whois
      - wireguard-tools
      - zsh
    development_packages:
      - "@development-tools"
      - git
      - gitui
      - golang
      - httpie
      - podman
      - podman-compose
      - nodejs
      - pipx
      - postgresql
      - pgcli
      - python3
      - pnpm
      - pre-commit
      - uv
      - rust
      - cargo
      - shellcheck
      - yamllint
    desktop_packages:
      - fastfetch
      - fira-code-fonts
      - google-noto-fonts-common
      - google-roboto-fonts
      - ibm-plex-fonts-all
      - powerline-fonts
      - papirus-icon-theme
    flatpak_packages:
      - app.fotema.Fotema
      - app.drey.Dialect
      - app.devsuite.Ptyxis
      - com.vscodium.codium
      - com.spotify.Client
      - com.valvesoftware.Steam
      - com.github.tchx84.Flatseal
      - com.mattjakeman.ExtensionManager
      - com.usebruno.Bruno
      - com.github.qarmin.czkawka
      - com.rafaelmardojai.Blanket
      - de.haeckerfelix.Shortwave
      - de.haeckerfelix.Fragments
      - dev.geopjr.Tuba
      - im.riot.Riot
      - io.missioncenter.MissionCenter
      - io.podman_desktop.PodmanDesktop
      - io.freetubeapp.FreeTube
      - io.github.seadve.Mousai
      - io.github.ungoogled_software.ungoogled_chromium
      - io.gitlab.librewolf-community
      - io.dbeaver.DBeaverCommunity
      - io.gitlab.adhami3310.Impression
      - net.poedit.Poedit
      - net.displaycal.DisplayCAL
      - org.mozilla.firefox
      - org.mozilla.Thunderbird
      - org.gimp.GIMP
      - org.gnome.SoundRecorder
      - org.gnome.meld
      - org.gnome.Epiphany
      - org.videolan.VLC
      - org.libreoffice.LibreOffice
      - org.signal.Signal
      - org.keepassxc.KeePassXC
      - org.gnome.World.PikaBackup
      - org.gnome.gitlab.somas.Apostrophe
      - org.gaphor.Gaphor
      - org.pgadmin.pgadmin4
      - org.libretro.RetroArch
      - org.stellarium.Stellarium
      - re.sonny.Junction
      # - org.qgis.qgis
      # - com.mitchellh.ghostty
    gnome_extensions:
      - Move_Clock@rmy.pobox.com
      - user-theme@gnome-shell-extensions.gcampax.github.com
      - workspace-indicator@gnome-shell-extensions.gcampax.github.com
      - hidetopbar@mathieu.bidon.ca
      - clipboard-indicator@tudmotu.com
      - tophat@fflewddur.github.io
      - panel-workspace-scroll@polymeilex.github.io
      - tilingshell@ferrarodomenico.com
      - exchange-electricity-price-indicator@artnay.codeberg.org
      # - 2  # Frippery Move Clock
      # - 19  # User Themes
      # - 21  # Workspace Indicator
      # - 545  # Hide Top Bar
      # - 779  # Clipboard indicator
      # - 5219  # TopHat
      # - 6523  # Panel Workspace Scroll
      # - 7065  # Tiling Shell
      # - 7851  # Exchange Electricity Price Indicator


  pre_tasks:
    - name: Check if running on Fedora 42
      fail:
        msg: "This playbook only runs on Fedora 42. Current distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}"
      when: ansible_distribution != 'Fedora' or ansible_distribution_version != '42'
      tags:
        - always

  tasks:
    - name: Update all RPM packages
      dnf:
        name: "*"
        state: latest
      tags:
        - update

    # Install RPM packages

    - name: Install system RPM packages
      dnf:
        name: "{{ system_packages }}"
        state: present
        update_cache: true
      tags:
        - packages
        - system

    - name: Install development RPM packages
      dnf:
        name: "{{ development_packages }}"
        state: present
        update_cache: true
      tags:
        - packages
        - development

    - name: Install desktop RPM packages
      dnf:
        name: "{{ desktop_packages }}"
        state: present
        update_cache: true
      tags:
        - packages
        - desktop

    - name: Import RPM Fusion Free GPG key
      ansible.builtin.rpm_key:
        #  https://rpmfusion.org/keys
        key: https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-free-fedora-2020
        state: present
      tags:
        - rpmfusion

    - name: Import RPM Fusion Nonfree GPG key
      ansible.builtin.rpm_key:
        #  https://rpmfusion.org/keys
        key: https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-nonfree-fedora-2020
        state: present
      tags:
        - rpmfusion

    - name: Enable RPM Fusion Free repository
      dnf:
        name: "https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_version }}.noarch.rpm"
        state: present
        disable_gpg_check: false
      tags:
        - rpmfusion

    - name: Enable RPM Fusion Nonfree repository
      dnf:
        name: "https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_version }}.noarch.rpm"
        state: present
        disable_gpg_check: false
      tags:
        - rpmfusion

    # - name: Install Steam from RPM Fusion
    #   dnf:
    #     name: steam
    #     state: present
    #   tags:
    #     - gaming
    #     - steam

    # Flatpak setup

    - name: Ensure Flatpak is installed
      dnf:
        name: flatpak
        state: present
      tags:
        - flatpak

    - name: Check if Flathub remote exists
      command: flatpak remotes --user
      register: flatpak_remotes
      changed_when: false
      tags:
        - flatpak

    - name: Add Flathub remote if it doesn't exist
      command: flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
      when: "'flathub' not in flatpak_remotes.stdout"
      tags:
        - flatpak

    - name: Install Flatpak applications
      flatpak:
        name: "{{ item }}"
        state: present
        remote: flathub
      loop: "{{ flatpak_packages }}"
      tags:
        - flatpak

    # Security

    - name: Ensure SELinux packages are installed
      dnf:
        name:
          - libselinux
          - libselinux-utils
          - libsemanage
          - policycoreutils
          - policycoreutils-python-utils
        state: present

    - name: Ensure SELinux is set to enforcing in config
      lineinfile:
        path: /etc/selinux/config
        regexp: '^SELINUX='
        line: 'SELINUX=enforcing'
        backup: true

    - name: Get current SELinux mode
      command: getenforce
      register: selinux_mode
      changed_when: false
      ignore_errors: true

    - name: Enable SELinux enforcing mode if not already enabled
      command: setenforce 1
      when: selinux_mode.stdout != "Enforcing"
      ignore_errors: true

    # FIXME:
    # Install OpenSnitch and VPN

    # Install dotfiles

#     - name: Source Rust environment
#       shell: source /home/{{ username }}/.cargo/env
#       changed_when: false
#       tags:
#         - dotfiles

#     - name: Install Dotter
#       become_user: "{{ ansible_user_id }}"
#       shell: cargo install dotter
# #      cargo:
# #        name: dotter
#       tags:
#         - dotfiles

#     - name: Create dotfiles directory for user
#       file:
#         path: "/home/{{ username }}/.dotfiles"
#         state: directory
#         owner: "{{ username }}"
#         group: "{{ username }}"
#       tags:
#         - dotfiles

#     - name: Clone dotfiles repository
#       git:
#         repo: https://codeberg.org/artnay/dotfiles.git
#         dest: "/home/{{ username }}/.dotfiles"
#         force: yes
#       become_user: "{{ username }}"
#       tags:
#         - dotfiles

#     - name: Deploy dotfiles with Dotter
#       command: dotter deploy
#       args:
#         chdir: "/home/{{ username }}/.dotfiles"
#       become_user: "{{ username }}"
#       tags:
#         - dotfiles

    # GNOME desktop setup

    #  https://pypi.org/project/gnome-extensions-cli/
    - name: Check if gnome-extensions-cli is installed
      become: false
      ansible.builtin.shell: pipx list | grep gnome-extensions-cli
      register: gnome_extensions_cli_check
      changed_when: false
      failed_when: false
      tags:
        - desktop
        - gnome

    - name: Install GNOME Extensions CLI tool
      become: false
      ansible.builtin.shell: pipx install gnome-extensions-cli
      when: gnome_extensions_cli_check.rc != 0
      tags:
        - desktop
        - gnome

    - name: Get installed GNOME extensions
      become: false
      ansible.builtin.shell: gnome-extensions-cli list
      register: installed_extensions
      changed_when: false
      tags:
        - desktop
        - gnome

    - name: Install GNOME Extensions
      become: false
      ansible.builtin.shell: gnome-extensions-cli install {{ item }}
      loop: "{{ gnome_extensions }}"
      when: item | string not in installed_extensions.stdout
      register: extension_install
      failed_when:
        - extension_install.rc != 0
        - "'is already installed' not in extension_install.stderr"
      tags:
        - desktop
        - gnome

    - name: Enable GNOME Extensions
      become: false
      ansible.builtin.shell: gnome-extensions-cli enable {{ item }}
      loop: "{{ gnome_extensions }}"
      ignore_errors: true
      tags:
        - desktop
        - gnome

    - name: Set GNOME settings
      become: false
      ansible.builtin.dconf:
        key: "{{ item.key }}"
        value: "{{ item.value }}"
        state: present
      loop:
        - key: "/org/gnome/desktop/interface/color-scheme"
          value: "'prefer-dark'"
        - key: "/org/gnome/desktop/interface/icon-theme"
          value: "'Papirus'"
        - key: "/org/gnome/desktop/interface/accent-color"
          value: "'green'"
        - key: "/org/gnome/desktop/interface/clock-show-weekday"
          value: "true"
        - key: "/org/gnome/desktop/wm/preferences/button-layout"
          value: "':minimize,maximize,close'"
        - key: "/org/gnome/desktop/calendar/show-weekdate"
          value: "true"
        - key: "/org/gnome/desktop/sound/event-sounds"
          value: "false"
        - key: "/org/gnome/settings-daemon/plugins/color/night-light-enabled"
          value: "true"
        - key: "/org/gnome/settings-daemon/plugins/color/night-light-temperature"
          value: "3500"
      tags:
        - desktop
        - gnome
