---
- name: Get chezmoi source path
  become: false
  ansible.builtin.command: chezmoi source-path
  register: chezmoi_path
  changed_when: false
  tags:
    - chezmoi
    - dotfiles

- name: Determine repository URL
  ansible.builtin.set_fact:
    chezmoi_repo: "{{ 'git@github.com:' + github_username + '/dotfiles.git' if ssh_key_path is defined and lookup('file', ssh_key_path, errors='ignore') is not none else 'https://github.com/' + github_username + '/dotfiles.git' }}"
  tags:
    - chezmoi
    - dotfiles

- name: Show which repository will be used
  ansible.builtin.debug:
    msg: "Using dotfiles repository: {{ chezmoi_repo }}"
  tags:
    - chezmoi
    - dotfiles

- name: Check if chezmoi is initialized
  become: false
  ansible.builtin.stat:
    path: "{{ chezmoi_path.stdout }}"
  register: chezmoi_state
  tags:
    - chezmoi
    - dotfiles

- name: Initialize chezmoi
  become: false
  ansible.builtin.command:
    cmd: chezmoi init {{ chezmoi_repo }}
  when: not chezmoi_state.stat.exists
  tags:
    - chezmoi
    - dotfiles

- name: Fetch latest dotfile repo changes
  become: false
  ansible.builtin.command: git fetch
  args:
    chdir: "{{ chezmoi_path.stdout }}"
  register: git_fetch
  changed_when: false
  tags:
    - chezmoi
    - dotfiles

- name: Check if local dotfiles are behind
  become: false
  ansible.builtin.command: git rev-list HEAD..origin/main --count
  args:
    chdir: "{{ chezmoi_path.stdout }}"
  register: git_behind
  changed_when: false
  tags:
    - chezmoi
    - dotfiles

- name: Update dotfiles
  become: false
  ansible.builtin.command: chezmoi update
  when: git_behind.stdout | int > 0
  tags:
    - chezmoi
    - dotfiles
