---
- name: Install system RPM packages
  dnf:
    name: "{{ system_packages }}"
    state: present
    update_cache: true
  tags:
    - packages
    - system

- name: Install development RPM packages
  dnf:
    name: "{{ development_packages }}"
    state: present
    update_cache: true
  tags:
    - packages
    - development

- name: Install desktop RPM packages
  dnf:
    name: "{{ desktop_packages }}"
    state: present
    update_cache: true
  tags:
    - packages
    - desktop
